<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>** Enter your tenant’s domain here **</string>
	<key>ClientId</key>
	<string>** Enter your app’s client ID here **</string>
</dict>
</plist>
